body{
  background-color: black;
  list-style: none;
}
.header .nav-link{
    font-family: 'Roboto Condensed', sans-serif;
    color: white!important;
}


ul {
    
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding: 0;     
    max-width: 600px;
  }
  
  @media screen and (min-width: 600px) {
      ul {
          flex-direction: row;
      }
  }
  
  .header li {
    position: relative;
    padding: 30px;
    white-space: nowrap;
    width: fit-content;
  }
  
  .header a {
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: .25em;
    display: inline-block;
    padding: 15px;
    position: relative;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
  }
  
  .header a:hover::after {
    width: 100%;
    right: 0;
  }
  
  .header a::after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 4px;
    right: 0;
    position: absolute;
    background: linear-gradient(to left, #f69ec4, #f9dd94 100%);
    transition: width .5s ease 0s, right .5s ease 0s;
    width: 0;
  }
  .aboutme .heading{
    text-align: center;
    font-size: 50px;
    font-weight: bolder;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: .7s;
  }
  .aboutme .heading span{
    color: purple;
  }
  .about-img {
    position: relative;
    width: 25rem;
    height: 20rem;
    border-radius: 58%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .about-img img {
    position: relative;
    width: 90%;
    left: 25%;
    border: 10px solid;
    padding: 10px;
    border-image-source: linear-gradient(316deg, #3e187a 0%,purple 74%);
    border-image-slice: 1;
    border-image-outset: 100%;
    animation: floatImage 4s ease-in-out infinite;
    animation-delay: 2s,3s;
  }
  h3{
    font-size: 20px;
    margin: 5px;
    color: white;
    padding: 10px;
  }

  .bar{
    background: #353b48;
    display: block;
    height: 10px;
    border: 1px solid rgba(0, 0, 0, 0,3);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),0 1px 2px rgba(0, 0, 0, 0.24);
    transform: all 0.3s cubic-bezier(.25,.8,.25,1);
  }
  .bar:hover{
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),0 10px 10px rgba(0, 0, 0, 0.22);

  }
  .bar span{
    height: 20px;
    float: left;
    background: linear-gradient(135deg,#3e187a 0%, purple 100%);
  }
  .html{
    width: 95%;
    animation: html 3s;
  }
  .css{
    width: 90%;
    animation: css 3s;
  }
  .js{
    width: 60%;
    animation: js 3s;
  }
  .bs{
    width: 75%;
    animation: bs 3s;
  }
  .git{
    width: 80%;
    animation: git 3s;
  }
  .Python{
    width: 70%;
    animation: Python 3s;
  }
  .php{
    width: 20%;
    animation: php 3s;
  }
  
  @keyframes html {
    0%{
      width: 0%;
    }
    100%{
      width: 95%;
    }
  }
  @keyframes css {
    0%{
      width: 0%;
    }
    100%{
      width: 90%;
    }
  }
  @keyframes js {
    0%{
      width: 0%;
    }
    100%{
      width: 60%;
    }
  }
  @keyframes bs {
    0%{
      width: 0%;
    }
    100%{
      width: 75%;
    }
  }
  @keyframes git {
    0%{
      width: 0%;
    }
    100%{
      width: 80%;
    }
  }
  @keyframes Python {
    0%{
      width: 0%;
    }
    100%{
      width: 70%;
    }
  }
  @keyframes php {
    0%{
      width: 0%;
    }
    100%{
      width: 20%;
    }
  }

  @keyframes slideTop {
    0%{
        transform: translateY(100px);
        opacity: 0;
    }

    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes slideRight {
  0%{
      transform: translateX(-100px);
      opacity: 0;
  }

  100%{
      transform: translateX(0);
      opacity: 1;
  }
}

@keyframes floatImage {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-24px);
  }
  100% {
    transform: translateY(0);
  }
}

