body{
  background-color: black;
}
.header .nav-link{
    font-family: 'Roboto Condensed', sans-serif;
    color: white!important;
}
.contact span{
  color: purple;
}
.contact h1{
    text-align: center;
    font-size: 50px;
    font-weight: bolder;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: .7s;
    
}

ul {
    
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding: 0;     
    max-width: 600px;
  }

  
  @media screen and (min-width: 600px) {
      ul {
          flex-direction: row;
      }
  }
  
  .header li {
    position: relative;
    padding: 30px;
    white-space: nowrap;
    width: fit-content;
  }
  
  .header a {
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: .25em;
    display: inline-block;
    padding: 15px;
    position: relative;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
  }
  
  .header a:hover::after {
    width: 100%;
    right: 0;
  }
  
  .header a::after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 4px;
    right: 0;
    position: absolute;
    background: linear-gradient(to left, #f69ec4, #f9dd94 100%);
    transition: width .5s ease 0s, right .5s ease 0s;
    width: 0;
  }
  .info{
    width: 35%;
    
    margin-left: 32%;    
  }
  .Information{
    display: flex;
    flex-direction: column;
  }
  .address,.phone,.email,.web{
    display: flex;
    flex-direction: row;
    margin: 5px;
    gap: 10px;
  }

  @keyframes slideTop {
    0%{
        transform: translateY(100px);
        opacity: 0;
    }

    100%{
        transform: translateY(0);
        opacity: 1;
    }
}@keyframes slideRight {
  0%{
      transform: translateX(-100px);
      opacity: 0;
  }

  100%{
      transform: translateX(0);
      opacity: 1;
  }
}