body{
    background-color: black;
}

.header .nav-link{
    font-family: 'Roboto Condensed', sans-serif;
    color: white!important;
}
.home{
    margin-top: 150px;
    color: white;
}
.home h1{
    color: white!important;
}

ul {
    
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding: 0;     
    max-width: 600px;
  }
  
  @media screen and (min-width: 600px) {
      ul {
          flex-direction: row;
      }
  }

 .header li {
    position: relative;
    padding: 30px;
    white-space: nowrap;
    width: fit-content;
  }
  
  .header a {
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: .25em;
    display: inline-block;
    padding: 15px;
    position: relative;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
  }
  
 .header a:hover::after {
    width: 100%;
    right: 0;
  }
  
 .header a::after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 4px;
    right: 0;
    position: absolute;
    background: linear-gradient(to left, #f69ec4, #f9dd94 100%);
    transition: width .5s ease 0s, right .5s ease 0s;
    width: 0;
  }
  .education {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: auto;
    padding: 5rem;
  }
  .education .heading {
    text-align: center;
    font-size: 50px;
    font-weight: bolder;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: .7s;
    transition: font-size 0.3s ease-in-out;
  }
  .education .heading:hover{
    font-size: 80px;
  }
  .education .heading span {
    color: purple;
  }
  .education .education-column {
    flex: 1 1 40rem;
  }
  .education-column .education-box {
    border-left: .2rem solid purple;
  }
  .education-box .education-content {
    position: relative;
    padding-left: 2rem;
  }

  .education-box .education-content::before {
    content: '';
    position: absolute;
    top: 0;
    left: -1.1rem;
    width: 2rem;
    height: 2rem;
    background: purple;
    border-radius: 58%;
  }
  .education-content .content{
    position: relative;
    padding: 1.5rem;
    border: .2rem solid purple;
    border-radius: .6rem;
    margin-bottom: 2rem;
    overflow: hidden;
  }
  .education-content .content::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: rgb(196, 1, 196);
    z-index: -1;
    transition: .5s;
    opacity: .2;
}
.education-content .content:hover::before {
    width: 100%;
}
  .education-content .content .year {
    font-size: 1.5rem;
    color:  purple;
    padding-bottom: .5rem;
  }
  .education-content .content .year i{
    padding-right: .5rem;
  }
  .education-content .content h3 {
    font-size: 2rem;
  }
  
  /* making the page responsive */
  @media (max-width: 425px) {
    .education-content .content h3 {
         font-size: 25px;
     }
   }
   @media (max-width: 385px) {
    .education-content .content h3 {
         font-size: 20px;
     }
   }
  .education-content .content p {
    font-size: 1.6rem;
    padding-top: .5rem;
  }
  @media (max-width: 425px) {
    .education-content .content p {
         font-size: 1rem;
     }
   }


  @keyframes slideTop {
    0%{
        transform: translateY(100px);
        opacity: 0;
    }

    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes slideRight {
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }

    100%{
        transform: translateX(0);
        opacity: 1;
    }
}