body{
    background-color: black;
}

.header .nav-link{
    font-family: 'Roboto Condensed', sans-serif;
    color: white!important;

}
.home{
    margin-top: 150px;
    color: white;
}
.home h1{
    color: white!important;
}
.name{
    font-size: 150px;
    color: purple;
    font-family: 'Cormorant Garamond', serif;
}
ul {
    
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding: 0;     
    max-width: 600px;
  }
  
  @media screen and (min-width: 600px) {
      ul {
          flex-direction: row;
      }
  }
  @media screen and (max-width: 600px) {
    .name{
        font-size: 100px;
    }
  }
 .header li {
    position: relative;
    padding: 30px;
    white-space: nowrap;
    width: fit-content;
  }
  
 .header a {
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: .25em;
    display: inline-block;
    padding: 15px;
    position: relative;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
  }
  
 .header a:hover::after {
    width: 100%;
    right: 0;
  }
  
 .header a::after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 4px;
    right: 0;
    position: absolute;
    background: linear-gradient(to left, #f69ec4, #f9dd94 100%);
    transition: width .5s ease 0s, right .5s ease 0s;
    width: 0;
  }
.social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid purple;
    border-radius: 58%;
    font-size: 20px;
    color: purple;
    text-decoration: none;
    margin-top: 30px;
    transition: .5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));

}


.social-media a:hover{
    background: purple;
    color: black;
    box-shadow: 0 0 20px purple;
}

.home h1,p {
    opacity: 0;
    animation: slideBottom 1s ease forwards;
}

.home button {
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: .7s;
}
.multiple-text {
    color: purple;
    font-weight: 400;
}
   

@keyframes slideTop {
    0%{
        transform: translateY(100px);
        opacity: 0;
    }

    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideBottom {
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }

    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideRight {
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }

    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0%{
        transform: translateX(100px);
        opacity: 0;
    }

    100%{
        transform: translateX(0);
        opacity: 1;
    }
}